.dx-datagrid-summary-item.dx-datagrid-text-content {
    overflow: visible;
}

.grid-container {
    display: grid;
    grid-template-columns: 800px auto;
    grid-gap: 10px;
    padding: 10px;
}

.col1 {
    width: 800px;
    margin-right: 10px;
    text-align: center;
    /* line-height: 75px;
    font-size: 30px; */
  }
  
.col2 {
    width: 600px;
    text-align: center;
    align-items: flex-start;
    /* line-height: 75px;
    font-size: 30px; */
  }

::ng-deep .list-container {
  width: 25%;
  height: auto;
  background-color: white;
}

.listcompteams {
  float: left;
  font-size: 12px;
}