::ng-deep .optionsStatsSankey {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    margin-top: 20px;
}
::ng-deep .optionStatsSankey {
    margin-top: 10px;
}
::ng-deep .btnPrevious {
    margin-top: 10px;
    position: absolute;
    left: 15px;
}
::ng-deep .caption {
    font-size: 18px;
    font-weight: 500;
}
::ng-deep .optionStatsSankey > span {
    margin-right: 10px;
}
::ng-deep .optionStatsSankey > .dx-widget {
    display: inline-block;
    vertical-align: middle;
}