<!-- <form class="form"> -->
    <div class="flex-container-totalscore">
      <div class="flex-container-totalscore-col">
        <dx-data-grid id="gridContainer"
            [dataSource]="dataSourceBikeRider"
            [showBorders]="true"
            [hoverStateEnabled]="true"
            [height]="800"
            [allowColumnResizing]="true">

            <dxo-selection mode="single"></dxo-selection>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-export [enabled]="true" fileName="Totalscore ryttere" ></dxo-export>
            <dxo-search-panel [visible]="true"></dxo-search-panel>

            <dxi-column dataField="BikeRiderName" caption="Navn" ></dxi-column>
            <dxi-column dataField="Points" caption="Poeng" [width]="50"  ></dxi-column>
            <dxi-column dataField="RiderIndexTwoDecimals" caption="Index(gj.snitt)" [width]="100" cellTemplate="riderIndexTemplate"  ></dxi-column>
            
            <div *dxTemplate="let d of 'riderIndexTemplate'" [class]="d.data.RiderIndex < 0.5 ? 'red' : d.data.RiderIndex >= 0.5 && d.data.RiderIndex <= 1 ? 'orange' : d.data.RiderIndex > 1 && d.data.RiderIndex < 2 ? 'yellow' : d.data.RiderIndex >= 2 && d.data.RiderIndex < 3 ? 'green' : 'blue'">
                <div class="riderindex">{{d.data.RiderIndexTwoDecimals}}</div>
            </div>
        </dx-data-grid>
      </div>
    </div>
<!-- </form> -->